/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea
/public/css
/public/images
/public/js
/public/vendors~js
/public/mix-manifest.json
/resources/js/payment-credentials.ts
/resources/js/vue-translations.js
/app/PaymentCredentials.php
