.btn {
    background-color: $primary-accent-color;
    padding: 10px;
    border-radius: 2.5px;
    color: $light-color;
    border: none;
    text-align: center;
    cursor: pointer;

    &:hover {
        background-color: $light-primary-accent-color;
    }
}
.btn-small {
    font-size: 0.8em;
}
.btn-loading {
    background: url("~@/images/button-loader.gif") no-repeat;
    background-size: cover;
}
.btn-time-picker {
    width: 100%;
}
