.form-block {
    margin-top: 15px;
}
.side-text {
    margin-left: 10px;
    font-size: 0.6em;
    color: $dark-color-side;
}
input[type="text"], input[type="email"], input[type="password"], textarea {
    padding: 10px;
    border: $light-border;
    border-radius: $default-border-radius;
    color: $dark-color;

    &:focus {
        border: 2px solid $primary-accent-color;
    }
}
form .input-error {
    border: 2px solid $error-color;
}
input[type="checkbox"] {
    display: none;

    & + label {
        display: inline-block;
        cursor: pointer;
        user-select: none;
    }
    & + label span.checkbox {
        background: url("~@/images/checkbox-unchecked.png") no-repeat;
        background-size: cover;
        display: inline-block;
        width: 32px;
        height: 32px;
        margin-right: 10px;
        vertical-align: middle;
    }
    &:checked + label span.checkbox {
        background: url("~@/images/checkbox-checked.png") no-repeat;
        background-size: cover;
    }
}
.fullscreen-form {
    margin: 0 auto;
    width: 60%;
    max-width: 600px;
    padding: 30px;
    border-radius: $default-border-radius;
    background-color: $light-color;
    box-shadow: $box-shadow;

    label, input:not([type="checkbox"]) {
        display: block;
    }

    input[type="text"], input[type="email"], input[type="password"], textarea {
        margin: 5px 0;
        width: 100%;
    }

    input[type="submit"] {
        width: 100%;
    }
}
textarea {
    resize: none;
    height: 10em;
}
.anticon {
    margin-right: 10px;

    svg {
        vertical-align: middle;
    }
}
@media screen and (max-width: 900px) {
    .fullscreen-form {
        width: 90%;
    }
}
