$gradient: linear-gradient(-60deg, rgb(4, 233, 0) 0%, rgb(5, 224, 0) 15.809999999999999%, rgb(7, 198, 0) 42.1%, rgb(12, 157, 0) 75.4%, rgb(15, 123, 0) 99.44%);
$dark-color: #0e1e25;
$dark-color-side: grayscale(lighten($dark-color, 40%));
$light-color: #fcfdfe;
$primary-accent-color: #00f921;
$light-primary-accent-color: lighten($primary-accent-color, 10%);
$dark-primary-accent-color: darken($primary-accent-color, 10%);
$error-color: #f71d2c;
$link-color: lighten($dark-color, 50%);
$gray-color: #e9ebeb;

$box-shadow: 0 2px 4px 0 rgba(14, 30, 37, 0.12);
$text-shadow: 0 2px 20px rgba(0,0,0,.16);
$light-border: 2px solid $gray-color;

$logo-font-family: 'Patrick Hand', cursive;
$text-font-family: 'Open Sans', sans-serif;

$base-font-size: 20px;
$heading-scale: 8px;
$base-line-height: 1.6;
$default-border-radius: 4px;
