$primary-gradient: linear-gradient(135deg, #70F570 10%, #49C628 100%);
$primary-color: #0e1e25;
$secondary-color: #fcfdfe;

$logo-font-family: 'Open Sans', sans-serif;
$primary-font-family: 'Open Sans', sans-serif;
$base-font-size: 1.2rem;
$base-line-height: 1.6;

