// Global Sass
// Local Sass is in Vue pages

@import 'variables';
@import 'normalize';
@import 'forms';
@import 'buttons';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    font-size: $base-font-size;
}
body {
    font-size: 1rem;
    position: relative;
    font-family: $text-font-family;
    line-height: $base-line-height;
    color: $dark-color;
}
a {
    text-decoration: none;
}
.link {
    color: $link-color;

    &:hover {
        text-decoration: underline;
    }
}
ul {
    list-style-type: none;
}
li {
    display: inline-block;
}
.wrapper {
    display: flex;
    margin: 0 auto;
    max-width: 1300px;
    padding: 0 1.6em;
}
.bg-svg {
    background: url("~@/images/hero-bg.svg") no-repeat 0 -250px;
    background-size: cover;
}
.bg-gradient {
    background: $gradient fixed;
}
.white-bg {
    margin: 0 auto;
    width: 80%;
    padding: 30px;
    border-radius: $default-border-radius;
    background-color: $light-color;
    box-shadow: 0 2px 4px 0 rgba(14, 30, 37, 0.12);
}
