// Global Sass
// Local Sass is in Vue pages

@import 'variables';
@import 'normalize';
@import 'forms';
@import 'buttons';
@import 'ant-override';

// Preloading images
body::after{
    display: none;
    content: url("~@/images/button-loader.gif") url("~@/images/checkbox-checked.png");
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-size: 1.25rem;
    position: relative;
    font-family: $text-font-family;
    line-height: $base-line-height;
    color: $dark-color;
}
a {
    text-decoration: none;
}
.link {
    color: $link-color;

    &:hover {
        text-decoration: underline;
    }
}
:disabled {
    cursor: not-allowed;
}
main {
    padding: 60px 0;
}
ul {
    list-style-type: none;
}
li {
    display: inline-block;
}
.wrapper {
    margin: 0 auto;
    max-width: 1300px;
    padding: 0 1.6em;
}
.bg-svg {
    background: url("~@/images/hero-bg.svg") no-repeat 0 -150px;
    background-size: cover;
}
.bg-gradient {
    background: $gradient fixed;
}
.box {
    padding: 30px;
    border-radius: $default-border-radius;
    background-color: $light-color;
    box-shadow: $box-shadow;
}
.text-center {
    text-align: center;
}
p {
    margin: 0;
}
@for $i from 1 through 6 {
    h#{$i} {
        font-size: 1 + 0.2 * (6 - $i) + em;
        margin: 0;
        font-weight: normal;
    }
}
.header-border {
    border-bottom: 3px solid $primary-accent-color;
}
@media screen and (max-width: 1000px) {
    body {
        font-size: 1rem;
    }
}
@media screen and (max-width: 500px) {
    body {
        font-size: 0.75rem;
    }
}
