.hero[data-v-7ebbb9e5] {
  padding: 60px 0 100px 0;
}
.hero .hero-text[data-v-7ebbb9e5] {
  color: #fcfdfe;
  display: inline-block;
  max-width: 55%;
}
.hero .hero-text h1[data-v-7ebbb9e5] {
  font-size: 4em;
  margin: 0 0 20px 0;
  line-height: 1.1;
}
.hero .hero-text p[data-v-7ebbb9e5] {
  font-size: 1.2em;
  line-height: 1.2;
}a[data-v-1f42fb90] {
  color: #fcfdfe;
}
.wrapper[data-v-1f42fb90] {
  align-items: center;
}
.logo[data-v-1f42fb90] {
  font-family: "Patrick Hand", cursive;
  font-size: 3rem;
  margin-right: 40px;
}
nav[data-v-1f42fb90] {
  width: 100%;
  margin-top: 5px;
  font-size: 1.1rem;
  display: flex;
  justify-content: space-between;
}
li[data-v-1f42fb90] {
  margin: 0 10px;
}* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-size: 1.2rem;
}
body {
  font-size: 1rem;
  position: relative;
  font-family: "Open Sans", sans-serif;
  line-height: 1.6;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}
li {
  display: inline-block;
}
.wrapper {
  display: flex;
  margin: 0 auto;
  max-width: 1300px;
  padding: 0 1.6em;
}
.bg {
  background-image: linear-gradient(135deg, #70F570 10%, #49C628 100%);
}